.home-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container001 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-container002 {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 740px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/bg/img_9.svg");
  background-repeat: no-repeat;
}
.home-container003 {
  flex: 1;
  width: 100%;
  height: 0%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p60);
  flex-direction: row;
  justify-content: space-between;
}
.home-container004 {
  gap: 60px;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-container005 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container006 {
  color: var(--dl-color-gray-text);
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 20px;
  padding-right: 15px;
  flex-direction: column;
  padding-bottom: 5px;
  background-image: linear-gradient(315deg, rgba(255, 255, 255, 0.5) 0.00%,rgb(255, 255, 255) 99.00%);
}
.home-text {
  font-style: normal;
  font-weight: 600;
}
.home-text001 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.home-text002 {
  opacity: 1;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.home-container007 {
  gap: 20px;
  width: 659px;
  display: flex;
  flex-direction: column;
}
.home-container008 {
  flex: 1;
  height: 100%;
  display: flex;
  z-index: 90;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 738px;
  height: 586px;
  object-fit: cover;
}
.home-container009 {
  gap: 10px;
  width: 100%;
  display: flex;
  z-index: 90;
  box-shadow: 0px 0px 10px 0px rgba(66, 66, 66, 0.3);
  align-items: center;
  border-color: var(--dl-color-gray-border-2);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: flex-end;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container010 {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  box-shadow: 0px -5px 10px 0px rgba(66, 66, 66, 0.3);
  align-items: flex-start;
  border-color: var(--dl-color-gray-border);
  border-width: 1px;
  background-color: rgba(243, 243, 243, 0.63);
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-text003 {
  opacity: 0.6;
}
.home-container011 {
  gap: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text004 {
  font-size: 20px;
}
.home-text005 {
  font-size: 20px;
}
.home-text006 {
  font-size: 20px;
}
.home-text007 {
  font-size: 20px;
}
.home-text008 {
  font-size: 20px;
}
.home-text009 {
  font-size: 20px;
}
.home-text010 {
  font-size: 20px;
}
.home-text011 {
  font-size: 20px;
}
.home-container012 {
  gap: 60px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p60);
  background-image: linear-gradient(0deg, rgba(189, 195, 199, 0) 0.00%,rgb(232, 240, 255) 100.00%);
}
.home-container013 {
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container014 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text012 {
  text-align: center;
}
.home-text016 {
  text-align: center;
}
.home-container015 {
  gap: 40px;
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container016 {
  gap: 40px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-start;
}
.home-container017 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container018 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container019 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: none;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-blue);
}
.home-icon {
  width: 60%;
  height: 60%;
}
.home-container020 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 102, 252, 0.08);
}
.home-lottie-node {
  width: 60%;
  height: 60%;
}
.home-text020 {
  font-size: 70px;
}
.home-container021 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container022 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container023 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text025 {
  width: 100%;
}
.home-container025 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node1 {
  width: 84px;
  height: 89px;
}
.home-text033 {
  width: 100%;
}
.home-container027 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 17px;
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node2 {
  width: 45px;
  height: 45px;
}
.home-text041 {
  width: 100%;
}
.home-container029 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 17px;
  flex-direction: column;
  justify-content: center;
}
.home-container030 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node3 {
  width: 140%;
  height: 140%;
}
.home-text046 {
  width: 100%;
}
.home-container031 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container032 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container033 {
  flex: 0 0 auto;
  width: 116px;
  height: 116px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/group%201000005158%20(1");
}
.home-container034 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container035 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container036 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text052 {
  width: 100%;
}
.home-container037 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container038 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container039 {
  flex: 0 0 auto;
  width: 116px;
  height: 116px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/group%201000005158%20(2");
}
.home-container040 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container041 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container042 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text061 {
  width: 100%;
}
.home-container043 {
  gap: 40px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-start;
}
.home-container044 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container045 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container046 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: none;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-blue);
}
.home-icon02 {
  width: 60%;
  height: 60%;
}
.home-container047 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 102, 252, 0.08);
}
.home-lottie-node4 {
  width: 60%;
  height: 60%;
}
.home-text065 {
  font-size: 70px;
}
.home-container048 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container049 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container050 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text070 {
  width: 100%;
}
.home-container051 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: center;
}
.home-container052 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node5 {
  width: 84px;
  height: 89px;
}
.home-text078 {
  width: 100%;
}
.home-container053 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: center;
}
.home-container054 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node6 {
  width: 85px;
  height: 85px;
}
.home-text083 {
  width: 100%;
}
.home-container055 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: center;
}
.home-container056 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-left: 17px;
  flex-direction: column;
  justify-content: center;
}
.home-container057 {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.home-lottie-node7 {
  width: 100%;
  height: 100%;
}
.home-text089 {
  width: 100%;
}
.home-container058 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container059 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container060 {
  flex: 0 0 auto;
  width: 116px;
  height: 116px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/group%201000005158%20(1");
}
.home-container061 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container062 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container063 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text095 {
  width: 100%;
}
.home-container064 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: none;
  align-items: flex-start;
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 40px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  background-color: var(--dl-color-gray-white);
}
.home-container065 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container066 {
  flex: 0 0 auto;
  width: 116px;
  height: 116px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/group%201000005158%20(2");
}
.home-container067 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container068 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container069 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text104 {
  width: 100%;
}
.home-container070 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  padding-bottom: var(--dl-space-space-p60);
  justify-content: center;
}
.home-container071 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container072 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  width: 565px;
  height: 465px;
  object-fit: cover;
}
.home-container073 {
  gap: 40px;
  flex: 1;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 40px;
  flex-direction: column;
}
.home-container074 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text108 {
  color: rgb(246, 88, 20);
}
.home-container075 {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container076 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container077 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 3px;
  flex-direction: column;
}
.home-container078 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon04 {
  width: 100%;
  height: 100%;
}
.home-container079 {
  gap: 5px;
  flex: 0 0 auto;
  width: 553px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container080 {
  gap: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container081 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 3px;
  flex-direction: column;
}
.home-container082 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon06 {
  width: 100%;
  height: 100%;
}
.home-container083 {
  gap: 5px;
  flex: 0 0 auto;
  width: 553px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  display: contents;
}
.home-button-blue {
  text-decoration: none;
}
.home-icon08 {
  width: 18px;
  height: 18px;
}
.home-container084 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  padding-bottom: var(--dl-space-space-p60);
  justify-content: center;
}
.home-container085 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container086 {
  gap: 40px;
  flex: 1;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 40px;
  flex-direction: column;
}
.home-container087 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text118 {
  color: rgb(246, 88, 20);
}
.home-container088 {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container089 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.home-container090 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon10 {
  width: 100%;
  height: 100%;
}
.home-container091 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.home-container092 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon12 {
  width: 100%;
  height: 100%;
}
.home-container093 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.home-container094 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon14 {
  width: 100%;
  height: 100%;
}
.home-container095 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.home-container096 {
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-lila);
}
.home-icon16 {
  width: 100%;
  height: 100%;
}
.home-navlink1 {
  display: contents;
}
.home-button-blue1 {
  text-decoration: none;
}
.home-icon18 {
  width: 18px;
  height: 18px;
}
.home-container097 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image2 {
  width: 656px;
  height: 465px;
  object-fit: cover;
}
.home-container098 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p60);
  justify-content: center;
}
.home-container099 {
  color: var(--dl-color-gray-white);
  width: 80%;
  height: 326px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 30px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/frame%20309-500h.png");
  background-position: center;
}
.home-container100 {
  gap: 30px;
  width: 100%;
  height: 194px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text135 {
  opacity: 0.8;
}
.home-container101 {
  gap: 40px;
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container102 {
  gap: 40px;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container103 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container104 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.home-container105 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.home-image3 {
  width: 24px;
  height: 32px;
  object-fit: cover;
}
.home-text136 {
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 51.84px;
}
.home-container106 {
  flex: 0 0 auto;
  width: 1px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container107 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container108 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.home-container109 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.home-image4 {
  width: 24px;
  height: 32px;
  object-fit: cover;
}
.home-text138 {
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 51.84px;
}
.home-container110 {
  flex: 0 0 auto;
  width: 1px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container111 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container112 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.home-container113 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.home-image5 {
  width: 24px;
  height: 32px;
  object-fit: cover;
}
.home-text140 {
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 51.84px;
}
.home-container114 {
  flex: 0 0 auto;
  width: 1px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container115 {
  gap: 10px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container116 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.home-container117 {
  gap: 20px;
  display: flex;
  align-items: center;
}
.home-image6 {
  width: 24px;
  height: 32px;
  object-fit: cover;
}
.home-text142 {
  font-size: 48px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 51.84px;
}
.home-container118 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  padding-bottom: var(--dl-space-space-p60);
  justify-content: center;
}
.home-container119 {
  gap: 40px;
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container120 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container121 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container122 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text144 {
  color: rgb(246, 88, 20);
}
.home-container123 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.home-navlink2 {
  display: contents;
}
.home-button-blue2 {
  text-decoration: none;
}
.home-icon20 {
  width: 18px;
  height: 18px;
}
.home-container124 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-container125 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image7 {
  width: 656px;
  height: 465px;
  object-fit: cover;
}
.home-container126 {
  gap: 20px;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.home-text150 {
  width: 100%;
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text155 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text156 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text157 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.home-container127 {
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  padding-bottom: var(--dl-space-space-p40);
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(189, 195, 199, 0) 0.00%,rgb(232, 240, 255) 100.00%);
}
.home-container128 {
  gap: 40px;
  flex: 0 0 auto;
  width: 80%;
  height: 798px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container129 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.home-container130 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container131 {
  gap: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text158 {
  color: rgb(246, 88, 20);
}
.home-container132 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.home-container133 {
  gap: 5px;
  fill: var(--dl-color-gray-white);
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 177px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: #0066FC;
}
.home-text160 {
  font-size: 18px;
}
.home-icon22 {
  width: 24px;
  height: 24px;
}
.home-container134 {
  width: 100%;
  height: 535px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home-container135 {
  flex: 0 0 auto;
  width: 475px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container136 {
  width: 100%;
  height: 305px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/image-400h.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.home-container137 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: space-between;
}
.home-container138 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container139 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text161 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-text162 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-container140 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container141 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text163 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-container142 {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text164 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 27px;
}
.home-icon24 {
  width: 24px;
  height: 24px;
}
.home-container143 {
  flex: 0 0 auto;
  width: 475px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container144 {
  width: 100%;
  height: 305px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/image%20(1");
  background-repeat: no-repeat;
  background-position: bottom;
}
.home-container145 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: space-between;
}
.home-container146 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container147 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text165 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-text166 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-container148 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container149 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text167 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-container150 {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text168 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 27px;
}
.home-icon26 {
  width: 24px;
  height: 24px;
}
.home-container151 {
  flex: 0 0 auto;
  width: 475px;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-container152 {
  width: 100%;
  height: 305px;
  display: flex;
  align-items: flex-start;
  background-size: cover;
  background-image: url("/image%20(2");
  background-repeat: no-repeat;
  background-position: bottom;
}
.home-container153 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-p20);
  padding-right: var(--dl-space-space-p20);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-p20);
  justify-content: space-between;
}
.home-container154 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container155 {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text169 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-text170 {
  opacity: 0.7;
  line-height: 19.36px;
}
.home-container156 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  background-color: #DEDEDE;
}
.home-container157 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text171 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-container158 {
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text172 {
  font-size: 18px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 27px;
}
.home-icon28 {
  width: 24px;
  height: 24px;
}
.home-container159 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p40);
  padding-bottom: var(--dl-space-space-p40);
  background-size: cover;
  justify-content: center;
  background-image: url("/rectangle%20166-1500w.png");
}
.home-container160 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container161 {
  gap: 20px;
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text174 {
  opacity: 0.8;
}
.home-container162 {
  gap: 10px;
  width: 526px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container163 {
  gap: 5px;
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p20);
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.23);
}
.home-textinput {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.home-container164 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-text178 {
  font-size: 18px;
  line-height: 22px;
}
.home-icon30 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1440px) {
  .home-container002 {
    height: 548px;
  }
  .home-container005 {
    width: 564px;
  }
  .home-text001 {
    font-size: 30px;
    line-height: 45px;
  }
  .home-image {
    width: 470px;
    height: 471px;
  }
  .home-container135 {
    width: 350px;
  }
  .home-container143 {
    width: 350px;
  }
  .home-container151 {
    width: 350px;
  }
}
@media(max-width: 1280px) {
  .home-container005 {
    width: 530px;
  }
  .home-container007 {
    width: 100%;
  }
  .home-text004 {
    font-size: 18px;
  }
  .home-text005 {
    font-size: 18px;
  }
  .home-text006 {
    font-size: 18px;
  }
  .home-text007 {
    font-size: 18px;
  }
  .home-text008 {
    font-size: 18px;
  }
  .home-text009 {
    font-size: 18px;
  }
  .home-text010 {
    font-size: 18px;
  }
  .home-text011 {
    font-size: 18px;
  }
  .home-image1 {
    width: 557px;
    height: 474px;
  }
}
