.imprint-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.imprint-container01 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.imprint-container02 {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 430px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("/frame%20310-1500w.png");
}
.imprint-container03 {
  flex: 1;
  width: 100%;
  height: 0px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-p60);
  flex-direction: row;
  justify-content: center;
}
.imprint-container04 {
  gap: 40px;
  width: 1360px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  justify-content: center;
}
.imprint-container05 {
  gap: 30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imprint-container06 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imprint-container07 {
  color: var(--dl-color-gray-text);
  display: flex;
  opacity: 0.5;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 20px;
  padding-right: 15px;
  flex-direction: column;
  padding-bottom: 5px;
  background-color: var(--dl-color-gray-white);
}
.imprint-text01 {
  text-align: center;
}
.imprint-text02 {
  text-align: center;
}
.imprint-container08 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p60);
  padding-bottom: var(--dl-space-space-p60);
  justify-content: center;
}
.imprint-container09 {
  gap: 30px;
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imprint-text03 {
  text-align: center;
}
.imprint-text04 {
  text-align: center;
}
.imprint-text05 {
  text-align: center;
}
.imprint-text13 {
  text-align: center;
}
.imprint-text17 {
  text-align: center;
}
.imprint-text18 {
  font-style: normal;
  font-weight: 700;
}
.imprint-text21 {
  text-align: center;
}
.imprint-text22 {
  text-align: center;
}
.imprint-text26 {
  text-align: center;
}
.imprint-text27 {
  text-align: center;
}
.imprint-container10 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-p40);
  padding-bottom: var(--dl-space-space-p40);
  background-size: cover;
  justify-content: center;
  background-image: url("/rectangle%20166-1500w.png");
}
.imprint-container11 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.imprint-container12 {
  gap: 20px;
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.imprint-text32 {
  opacity: 0.8;
}
.imprint-container13 {
  gap: 10px;
  width: 526px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.imprint-container14 {
  gap: 5px;
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.23);
}
.imprint-text36 {
  opacity: 0.6;
}
.imprint-container15 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.imprint-text37 {
  font-size: 18px;
  line-height: 22px;
}
.imprint-icon {
  width: 24px;
  height: 24px;
}
@media(max-width: 1440px) {
  .imprint-container04 {
    width: 1110px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .imprint-container05 {
    width: 891px;
  }
  .imprint-text01 {
    font-size: 30px;
    line-height: 45px;
  }
}
@media(max-width: 1280px) {
  .imprint-container05 {
    width: 530px;
  }
}
