.menu-bar-menu-bar {
  width: 80%;
  height: 123px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.menu-bar-container {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.menu-bar-image {
  width: 100%;
  object-fit: cover;
}
.menu-bar-container1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 526px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
.menu-bar-navlink {
  display: contents;
}
.menu-bar-navlink1 {
  display: contents;
}
.menu-bar-navlink2 {
  display: contents;
}
.menu-bar-navlink3 {
  display: contents;
}
.menu-bar-container8 {
  gap: 10px;
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 152px;
  height: 60px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  border-radius: 30px;
  justify-content: center;
  text-decoration: none;
}
@media(max-width: 1440px) {
  .menu-bar-image {
    width: 80%;
    height: 80%;
  }
  .menu-bar-container8 {
    width: 116px;
    height: 45px;
  }
}
